<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stocks Table</title>
</head>
<body>

{% for table in tables %}
            {{ table|safe }}
{% endfor %}
<div>Graph1</div>
<div>
	<h3>Stocks Plot</h3>
<div id="graph-0"></div>
</div>
</body>
<footer>
	    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>

    <script type="text/javascript">
		var graph = {{graphJSON | safe}};
		Plotly.plot("graph-0", graph.data, graph.layout);
    </script>
</footer>
</html>